!!! XML
!!!
%html
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html; charset=UTF-8"}
    %meta{'http-equiv'=>"content-language", :content=>"us"}
    %meta{'http-equiv'=>"language", :content=>"us"}
    %meta{:name=>"language", :content=>"english, us"}
    %meta{:name=>"robots", :content=>"index,follow"}
    %link{:rel=>'stylesheet', :href=>'/css/application.css', :type=>'text/css'}
    
    %title Interactive MongoDB Examples for #WHYDAY

  %body
    %header#logo
      %h1 Whyday
      %h2 19 August 2010
    
    %section#all
      %article#content
        %aside#signup
          %p
            Check out the <a href="http://whyday.tumblr.com/">Whyday blog!</a>
        
        %h3
          On August 19, 2009, <a href='http://en.wikipedia.org/wiki/Why_the_lucky_stiff'>Why the Lucky Stiff</a>
          withdrew from the online community.
          We in the Ruby community wish him well, but we really miss him.
        
        %h3.mongodb
          %a{:href=>"http://phoet.de"} My 
          contribution to this years
          %a{:href=>"http://whyday.org/"} Whyday,
          working at 
          %a{:href=>"http://blaulabs.de"} blau Mobilfunk GmbH,
          is a live demo of 
          %a{:href=>"http://www.mongodb.org/"} MongoDB 
          using 
          %a{:href=>"http://github.com/mongodb/mongo-ruby-driver"} Mongo Ruby Driver, 
          %a{:href=>"http://github.com/durran/mongoid"} Mongoid 
          and 
          %a{:href=>"http://github.com/jnunemaker/mongomapper"} MongoMapper.
          
        = yield
    
    %footer
      %p
        See the whole
        %a{:href=>"http://github.com/phoet/mongodb_examples/"} souce code on GitHub
        and for more information on Whyday, 
        contact <a href='mailto:whyday@vanderburg.org'>Glenn Vanderburg</a>
        or follow <a href='http://twitter.com/celebratewhyday'>@celebratewhyday</a>.
    
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2711231-5']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
